<% include ../pratical/header %>

<div class="container">  
    <div class="col-sm-8 text-left"> 
      <h1><%= campGround.name %></h1>
      <div>
        <img src="<%= campGround.image %>" class="img-rounded" alt="Cinque Terre" width=100% >
      </div>
      <div>
        <p><%= campGround.description %></p>
      </div>
      
      <!--display commment-->
      <div>
        <ul>
          <% campGround.commentList.forEach(function(comment){ %>
            <% if (comment!==null){ %>
              <li><strong><%=comment.authorName%></strong> - <%=comment.content%></li>
            
            <% } %>
          <% }) %>
        </ul>
      </div>
      
      <!--adding comment form-->
      <div>
      	<form action="/index/<%= campGround._id %>/comment" method="POST" class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" name="content" placeholder="content">    
          </div>
          <div>
            <button type="submit" class="btn btn-default">comment</button>
          </div>
        </form>  
      </div>
    </div>
</div>

<% include ../pratical/footer %>